/* Estilos para maquetación */
body {
  font-family: 'Press Start 2P', Arial, sans-serif; /* Uso fuente de pokemones */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ocupo la altura de la pantalla */
  overflow-x: hidden; /* Elimino scroll horizontal */
}


.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.header__title {
  margin: 0;
}


.nav {
  background-color: #333;
  padding: 10px 0;
}

.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav__item {
  margin: 5px 15px;
}

.nav__link {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  display: block;
}

.nav__link:hover {
  background-color: #555;
}


.main {
  padding: 20px;
  flex-grow: 1;       /* Ocupo el espacio completo del contenedor*/
}

/* Contenedor de Pokémon */
.pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta el tamaño de las columnas*/
  gap: 15px; /* Ajusto espacio entre las tarjetas */
  padding: 10px;
  margin-bottom: 50px;
  width: 100%; 
  box-sizing: border-box; 
}

/* Estilo para las tarjetas de los Pokémon */
.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card__img {
  width: 100px;
  height: 100px;
}

.card__title {
  margin: 10px 0 0;
}


.footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
  position: relative;
  margin-top: 40px;
}


@media (max-width: 768px) {
  .nav__item {
    margin: 5px 10px;
  }

  .nav__link {
    padding: 8px 16px;
  }
  
  .pokemon-container {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  }
}
